.elementor-5970 .elementor-element.elementor-element-4646f81 > .elementor-container > .elementor-row{align-items:stretch;}.elementor-5970 .elementor-element.elementor-element-bc01c7b > .elementor-widget-container{margin:0px 0px 40px 0px;}/* Start custom CSS for text-editor, class: .elementor-element-a721ba7 */.elementor-5970 .elementor-element.elementor-element-a721ba7{
    max-height: 900px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.elementor-5970 .elementor-element.elementor-element-a721ba7::-webkit-scrollbar{
width: 14px;
}

.elementor-5970 .elementor-element.elementor-element-a721ba7::-webkit-scrollbar-track{
background: rgba(0, 0, 0, 0.1);
}

.elementor-5970 .elementor-element.elementor-element-a721ba7::-webkit-scrollbar-thumb{
background: rgba(0, 0, 0, 0.31);
}/* End custom CSS */