.elementor-1642 .elementor-element.elementor-element-77de25b4 > .elementor-container > .elementor-row{align-items:stretch;}.elementor-1642 .elementor-element.elementor-element-bad8be6{width:var( --container-widget-width, 107.222% );max-width:107.222%;--container-widget-width:107.222%;--container-widget-flex-grow:0;}.elementor-1642 .elementor-element.elementor-element-bad8be6 > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-1642 .elementor-element.elementor-element-bad8be6.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-1642 .elementor-element.elementor-element-4b8b397{width:var( --container-widget-width, 148.148% );max-width:148.148%;--container-widget-width:148.148%;--container-widget-flex-grow:0;}.elementor-1642 .elementor-element.elementor-element-4b8b397.elementor-element{--flex-grow:0;--flex-shrink:0;}/* Start custom CSS for text-editor, class: .elementor-element-4b8b397 */.elementor-1642 .elementor-element.elementor-element-4b8b397{
    max-height: 900px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.elementor-1642 .elementor-element.elementor-element-4b8b397::-webkit-scrollbar{
width: 14px;
}

.elementor-1642 .elementor-element.elementor-element-4b8b397::-webkit-scrollbar-track{
background: rgba(0, 0, 0, 0.1);
}

.elementor-1642 .elementor-element.elementor-element-4b8b397::-webkit-scrollbar-thumb{
background: rgba(0, 0, 0, 0.31);
}/* End custom CSS */